* {
    font-family: 'Roboto';
    margin:0px;
    padding: 0px;
}
button{
    padding:4px 20px;
    background-color: #3882F6;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    height:25px;
    width: 100px;
}

.color-first{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-top-container {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    color: white;
    width: 800px;
}

.header-top-right {
    display: flex;
    gap:16px;
}

.page-first-section {
    display: flex;
    gap:20px;
    padding: 32px;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    width: 800px;

}
.page-first-section-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    gap: 30px;
}
.hero-text {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
}
.hero-secondary-text {
    font-size: 18px;
    color: #E5E5EB;

}
.color-second {
    background-color: white;
    display: flex;
    justify-content: center;
}
.page-second-section {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-section-header {
    padding: 40px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.second-section-images {
    display: flex;
    gap: 12px;
}
.images {
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow:0 ;
    flex-basis: 0;
}
.page-third-section {
    padding:32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-fourth-section {
    display: flex;
    justify-content: center;
    gap:20px;
    padding:32px;
}
.fourth-section-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.footer {
    display: flex;
    justify-content: center;
    padding:32px;
    
}