* {
    font-family: 'Roboto';
    margin:0px;
    padding: 0px;
}
button{
    padding:6px 30px;
    background-color: #3882F6;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.border-image{
    border: 3px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 12px;
}

.color-first{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-top-container {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    color: white;
    width: 1000px;
}

.header-top-right {
    display: flex;
    gap:16px;
}

.page-first-section {
    display: flex;
    gap:20px;
    padding: 32px;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    width: 1000px;

}
.page-first-section-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    gap: 30px;
}
.hero-text {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
}
.hero-secondary-text {
    font-size: 18px;
    color: #E5E5EB;

}
.color-second {
    background-color: white;
    display: flex;
    justify-content: center;
}
.page-second-section {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}
.second-section-header {
    padding: 20px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.second-section-images {
    display: flex;
    gap: 12px;
    justify-content: center;
}
.images {
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow:0 ;
    flex-basis: 0;
    align-items: center;
    gap:10px;
}
.color-three{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}
.page-third-section {
    padding:60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}
.quote {
    font-size: 36px;
    font-weight: 250;
    font-style: italic;
}
.person-quoted {
    align-self: flex-end;
    padding: 5px;
    font-weight: bold;
}
.page-fourth-section {
    display: flex;
    justify-content: center;
    gap:20px;
    padding:32px;
}
.fourth-section-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.footer {
    display: flex;
    justify-content: center;
    padding:32px;
    
}